.header {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 880px;
	border-bottom: 1px solid #545454;
	min-height: 56px;
	margin: auto;
  }
  
  @media screen and (min-width: 480px) {
	.header {
	  min-height: 75px;
	}
  }