.page {
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	padding-top: 28px;
  }
  
  @media screen and (min-width: 480px) {
	.page {
	  padding-top: 45px;
	}
  }
  